<div class="container">
  <div class="login-wrapper">
    <form class="login-form">
      <div class="login-form-title">
        <span>Sign in with</span>
      </div>
      <div class="login-form-btn-google">
        <span><i class="fa fa-google fa-lg" aria-hidden="true"></i>&nbsp;Google</span>
      </div>
      <div class="login-form-username">
        <div class="login-form-username__title">
          <span>Username</span>
        </div>
        <input class="login-form-username__input" type="text" name="username">
      </div>
      <div class="login-form-password">
        <div class="login-form-password__title">
          Password
        </div>
        <input class="login-form-password__input" type="password" name="pass">
      </div>
      <div class="login-form-submit">
        <button class="login-form-submit__button">
          Sign In
        </button>
      </div>
    </form>
  </div>
</div>
